.tutorial_arrow { stroke: #57945a; }
.tutorial_blurb { z-index: 5; }

.drag_tutorial {
   text-align: center;
   text-transform: uppercase;
   text-shadow: 1px 1px 0 #000000;
   position: absolute;
   top: 10%;
   font-size: 20px;
   color: #ff7800;
}
.bubble_title {
   color: rgb(230,230,230);
   font-size: 22px;
   padding-top: 70px;
}
.bubble_subtitle {
   color: rgb(215,215,215);
   font-weight: normal;
   font-size: 12px;
}

#hcpcs_accordion li.draggable span.hcpcs_menu_metric {
   float: right;
   margin-right: 7px;
}

#hcpcs_accordion li.draggable:hover {
   background-color: rgba(226, 229, 229, 0.9);
}

#hcpcs_accordion li.hcpcs_sorter span {
   cursor: pointer; 
   position: absolute;
}

#hcpcs_accordion li.hcpcs_sorter span:hover { color: #cc181e; }

#hcpcs_accordion h3 {
   letter-spacing: 0px;
   padding: 2px 4px 2px 25px; 
   color: #333;
   font-size: 11.5px;
   font-family: Calibri, Arial, Lucida Sans, Lucida Grande;
}

.hcpcs_sorter { background-image: url(patterns/bg-striped.png); }

.draggable { cursor: pointer; }

#sorter_name { right: 83px; }
#sorter_pmt { right: 65px; }
#sorter_ovp { right: 40px; }
#sorter_p_ovp { right: 4px; }

.sorted_on {
   text-decoration: underline;
   color: #cc181e;
}

#title_reel {
   width: 100%;
   height: 25px;
   background-image: url(patterns/bg-striped.png); 
   margin: 0px;
}

#hcpcs_accordion {
   z-index: 1;
   position: absolute;
   width: 200px;
   padding: 0px;
   margin: 0px;
   top: 42px;
   left: 78px;
}
#hcpcs_accordion .hcpcs_list {
   height: 595px;  
   margin: 0px;
   padding: 0px;
   font-family: Arial, Lucida Sans, Lucida Grande;
   font-size: 10px;
   color: #666;
}

#hcpcs_accordion ul {
   margin: 0px;
   padding: 0px;
   background-color: rgba(226, 229, 229, 0.5);
}

#hcpcs_accordion li {
   z-index: 5;
   line-height: 21px;
   background-color: rgba(226, 229, 229, 0.5);
   list-style-type: none;
   margin: 0px;
   width: 183px;
   padding-left: 15px; 
   border-bottom: 1px solid #999;
   height: 21px;
}

#hcpcs_accordion li.hcpcs_sorter {
   font-size: 9px;
   line-height: 15px;
   background-color: rgb(226, 229, 229);
   list-style-type: none;
   margin: 0px;
   padding-left: 5px; 
   border-bottom: 1px solid #999;
   width: 193px;
   height: 15px;
}

.headline {
   background-color: #eee;
   height: 31px;
   padding-top: 5px;
   margin-top: 0px;
   margin-bottom: 0px;
   border-bottom: 1px solid rgb(255,153,0);
   text-align: center;
   font-size: 14px;
   font-family: Calibri, Arial, Lucida Sans, Lucida Grande;
}

.code_reel {
   margin-top: 0px;
   margin-bottom: 0px;
   border-top: 1px solid #999;
   height: 200px;
}

.chart-title {
   font-size: 14px;
   font-family: Calibri, Arial, Lucida Sans, Lucida Grande; 
   font-weight: normal;
   fill: #444; 
}

.code_reel_svg {
   shape-rendering: crispEdges; 
   width: 1400px;
   height: 200px;
}

#legend_reel {
   height: 50px;
   background-color: #CBD8E3; 
   margin-top: 15px; 
   margin-bottom: 15px;
}

#show_annotation {
   position: absolute; 
   margin: 0px;
   padding: 0px;
   top: 47px;
   height: 18px;
   width: 102px;
   margin-left: 3px;            
}

div.text-annotation {
   position: absolute; 
   padding-right: 5px;
   padding-left: 5px; 
   background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0) 100%);
}

a.gen_annotation_clicked {
   text-decoration: none;   
   font-weight: bold;   
   padding: 2px 3px;
   margin: 0px -1px 0px 0px;   
   background-color: #FDFDFD;
   box-shadow: inset 0px 0px 7px #CCC;
   border: 1px solid #a4a4a4;
   color: #333;
}

a.gen_annotation_active {
   text-decoration: none;   
   font-weight: bold;   
   padding: 2px 3px;
   margin: 0px -1px 0px 0px;   
   background-color: #FDFDFD;
   box-shadow: inset 0px 0px 7px #CCC;
   border: 1px solid #a4a4a4;
   color: #666;
}

a.gen_annotation_inactive {
   background-color: white;  
   color: #a8a8a8;
   padding: 2px 3px;
   margin: 0px -1px 0px 0px;
   text-shadow: 0px 0px 1px white;
   box-shadow: 1px 1px 0px #efefef;
   border: 1px solid #ccc;
   font-weight: bold;
   text-decoration: none;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.combobox_button {
   margin-bottom: 4px;
   height: 20px;
}

.input_field {
   width: 165px;
   background: transparent;
}

.li_values {
   font-size: 11px;   
}

.li_sel_value {
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 5px;
   padding-right: 10px;
   background: none;
}

ul {
   margin-top: 5px;
   margin-bottom: 5px;
   padding-left: 5px;
}

li.name {
   list-style-type: none;
   font-size: 12px;
   font-weight: bold;
   color: #333;
}
li.specialty {
   list-style-type: none;  
   font-family: arial, sans-serif;
   font-size: 11px;
   color: #406584;
}

div.not_shown {
   display: none;
}

div.npi_detail_div_bg {
   position: absolute;
   background-image: url("patterns/bg-pinstripe.png");
   opacity: 0.4;
   width: 355px; 
   height: 602px;
   top: 68px;
}

div.npi_detail_div {
   position: absolute;
   opacity: 1;   
   width: 355px;
   height: 602px;
   top: 68px;
}

body {
   margin: 0px 0px 0px 0px;
}
div#draw_area {
   font-family: arial, sans-serif;
   font-size: 11px;
}

div#hcpcs_reel_active {
   background-color: rgba(192,192,192,0.15);
}

.yr_path_hover {
   stroke-width: 3px;
   stroke: #de5d0a;
   cursor: pointer;   
}
.yr_path_click {
   stroke-width: 3px;
   stroke: #f5b232;  
}

div.hcpcs_bubble {
   font-family: Arial;
   text-align: center;
   position: absolute;
   height: 190px;
   width: 100px;
   background-color: #406584;
   border-style: solid;
   border-color: rgba(80,50,15,0.2);
   border-width: 1px;
   border-radius: 10px;
}

div.hcpcs-bubble-active {
   opacity: 0.5;
   border: 1px solid #300
}

div.hcpcs-bubble-hover {
   opacity: 1px;
   background-color: rgb(102,0,0);
}

div.legend_bubble {
   position: absolute;   
   background-image: url("patterns/bg-striped.png");
   font-family: arial, sans-serif;
   font-size: 14px;
   font-weight: bold;
   color: #444;
   height: 42px;
   width: 100px;
   text-align: center;
   line-height: 43px;
   background-color: #D9D0D4;
   margin-top: 3px;
   margin-left: 3px;
   border-style: solid;
   border-color: rgba(80,50,15,0.2);
   border-width: 1px;
}

.scatter_hover {
   cursor: pointer;
   fill: #7c152a;   
}
.scatter_click {
   fill: #e6ce9d;
   stroke: #cc181e;
}

.scatter_unchecked {
   fill: transparent;
   pointer-events: none;
}

.unchecked {
   text-decoration: "line-through";
   fill: rgba(0,0,0,0.25);
}

div.npi_stat_table {
   position: absolute;
}
div.table_click {
   background-color: rgba(255,255,255,0.5);
   box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}

div.annotation {
   position: absolute;
   background-color: rgba(192,192,192,0.3);
   padding: 5px;
   spacing: 5px;
   border-width: 1px;
   border-style: dotted;
   border-color: #406584;
}


.year_labels {
   color: black;
   text-align: center;
   font-size: 10.5px;
}

.x-axis-label {
   fill: #666;
}

td.metric_label {
   width: 250px;
}
td.metric_value {
   font-family: arial, sans-serif;
   font-size: 12px;
   color: #333;
}

td.metric_name {
   font-family: arial, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #333;
}

#detail_body_table td {
   padding: 3.5px;
   border: 0px;
}

thead h1 {
   font-family: arial, sans-serif;
   font-size: 24px;
   font-weight: bold;
   color: rgb(235,235,235);
}

thead span {
   font-family: arial, sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #406584;
}

tr {
   font-family: arial, sans-serif;
   font-size: 12px;
   color: rgb(230,230,230);
}

.axis line {
   stroke: #999;
   stroke-width: 1px;   
}

div.metric_table {
   font-family: arial, sans-serif;
   font-size: 11px;
}

text {
   shape-rendering: crispEdges;
}
