#title_reel {
   height: 25;
   background-image: url(patterns/bg-striped.png); 
   margin-top: 0;
   margin-bottom: 0;
}

.headline {
   background-color: #eee;
   height: 31;
   padding-top: 5;
   margin-top: 0;
   margin-bottom: 0;
   border-bottom: 1 solid rgb(255,153,0);
   text-align: center;
   font-size: 14;
   font-family: Calibri, Arial, Lucida Sans, Lucida Grande;
}

.code_reel {
   margin-top: 0;
   margin-bottom: 0;
   border-top: 1 solid #999;
   height: 200;
}

.chart-title {
   font-size: 14;
   font-family: Calibri, Arial, Lucida Sans, Lucida Grande; 
   font-weight: normal;
   fill: #444; 
}

.code_reel_svg {
   shape-rendering: crispEdges; 
   width: 1400;
   height: 200;
}

#legend_reel {
   height: 50;
   background-color: #CBD8E3; 
   margin-top: 15; 
   margin-bottom: 15;
}

#show_annotation {
   position: absolute; 
   margin: 0;
   padding: 0;
   top: 42;
   height: 18;
   width: 102;
   margin-left: 3;            
}

div.text-annotation {
   position: absolute; 
   padding-right: 5;
   padding-left: 5; 
   background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0) 100%);
}

a.gen_annotation_clicked {
   text-decoration: none;   
   font-weight: bold;   
   padding: 2px 3px;
   margin: 0 -1px 0 0;   
   background-color: #FDFDFD;
   box-shadow: inset 0px 0px 7px #CCC;
   border: 1px solid #a4a4a4;
   color: #333;
}

a.gen_annotation_active {
   text-decoration: none;   
   font-weight: bold;   
   padding: 2px 3px;
   margin: 0 -1px 0 0;   
   background-color: #FDFDFD;
   box-shadow: inset 0px 0px 7px #CCC;
   border: 1px solid #a4a4a4;
   color: #666;
}

a.gen_annotation_inactive {
   background-color: white;  
   color: #a8a8a8;
   padding: 2px 3px;
   margin: 0 -1px 0 0;
   text-shadow: 0 0 1px white;
   box-shadow: 1px 1px 0 #efefef;
   border: 1px solid #ccc;
   font-weight: bold;
   text-decoration: none;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.combobox_button {
   margin-bottom: 4px;
   height: 20px;
}

.input_field {
   width: 165px;
   background: transparent;
}

.li_values {
   font-size: 11px;   
}

.li_sel_value {
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 5px;
   padding-right: 10px;
   background: none;
}

ul {
   margin-top: 5;
   margin-bottom: 5;
   padding-left: 5;
}

li.name {
   list-style-type: none;
   font-size: 12px;
   font-weight: bold;
   color: #333;
}
li.specialty {
   list-style-type: none;  
   font-family: arial, sans-serif;
   font-size: 11px;
   color: #406584;
}

div.not_shown {
   display: none;
}

div.npi_detail_div_bg {
   position: absolute;
   background-image: url("patterns/bg-pinstripe.png");
   opacity: 0.4;
   width: 315;
   height: 602;
   top: 63;
}

div.npi_detail_div {
   position: absolute;
   opacity: 1;   
   width: 315;
   height: 602;
   top: 63;
}

body {
   font-family: arial, sans-serif;
   font-size: 11px;
   margin: 0 0 0 0;
}

div#hcpcs_reel_active {
   background-color: rgba(192,192,192,0.15);
}

.yr_path_hover {
   stroke-width: 3;
   stroke: #de5d0a;
   cursor: pointer;   
}
.yr_path_click {
   stroke-width: 3;
   stroke: #f5b232;  
}


div.hcpcs_bubble {
   position: absolute;
   height: 190;
   width: 100;
   background-color: #406584;
   border-style: solid;
   border-color: rgba(80,50,15,0.2);
   border-width: 1px;
   border-radius: 10px;
}
div.legend_bubble {
   position: absolute;   
   background-image: url("patterns/bg-striped.png");
   font-family: arial, sans-serif;
   font-size: 14px;
   font-weight: bold;
   color: #444;
   height: 42;
   width: 100;
   text-align: center;
   line-height: 43px;
   background-color: #D9D0D4;
   margin-top: 3;
   margin-left: 3;
   border-style: solid;
   border-color: rgba(80,50,15,0.2);
   border-width: 1px;
}

.scatter_hover {
   cursor: pointer;
   fill: #7c152a;   
}
.scatter_click {
   fill: #e6ce9d;
   stroke: #cc181e;
}

.scatter_unchecked {
   fill: transparent;
   pointer-events: none;
}

.unchecked {
   text-decoration: "line-through";
   fill: rgba(0,0,0,0.25);
}

div.npi_stat_table {
   position: absolute;
}
div.table_click {
   background-color: rgba(255,255,255,0.5);
   box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

div.annotation {
   position: absolute;
   background-color: rgba(192,192,192,0.3);
   padding: 5;
   spacing: 5;
   border-width: 1;
   border-style: dotted;
   border-color: #406584;
}


.year_labels {
   color: black;
   text-align: center;
   font-size: 10.5px;
}

.x-axis-label {
   fill: #666;
}

td.metric_value {
   font-family: arial, sans-serif;
   font-size: 12px;
   color: #333;
}

td.metric_name {
   font-family: arial, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #333;
}

thead h1 {
   font-family: arial, sans-serif;
   font-size: 24px;
   font-weight: bold;
   color: rgb(235,235,235);
}

thead span {
   font-family: arial, sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #406584;
}

tr {
   font-family: arial, sans-serif;
   font-size: 12px;
   color: rgb(230,230,230);
}

.axis line {
   stroke: #999;
   stroke-width: 1px;   
}

div.metric_table {
   font-family: arial, sans-serif;
   font-size: 11px;
}

text {
   shape-rendering: crispEdges;
}
